body {
    background-image: "images/starryBackground.jpeg";
    background-color: rgba(30, 50, 70, 1);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 1);
}

header {
    display: inline-flex;
}

#menu {
    display: inline-flex;
}

#menu img {
    height: 20px;
}

.gameboard {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    padding: 20px;
}

.redButton.bright {
    background: rgba(255, 0, 0, 1);
}

.redButton {
    background: rgba(190, 0, 0, 1);
}

.yellowButton.bright {
    background: rgba(255, 255, 0, 1);
}

.yellowButton {
    background: rgba(190, 190, 0, 1);
}

.greenButton.bright {
    background: rgba(0, 255, 0, 1);
}

.greenButton {
    background: rgba(0, 190, 0, 1);
}

.blueButton.bright {
    background: rgba(0, 0, 255, 1);
}

.blueButton {
    background: rgba(0, 0, 190, 1);
}