body {
    background-color: rgba(30, 50, 70, 1);
    font-size: 30px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgba(255, 255, 255, 1);
    /* display: grid; */
    /* grid-template-areas: 
    "#leaderboard 10fr #menu",
    "1fr .gameboard 1fr",
    "1fr levels 1fr";
    justify-items: center; */
}

/* #menu {
    grid-column: 1;
    grid-row: 1;
}

#menu img {
    grid-column: 3;
    grid-row: 1;
    height: 20px;
} */

.gameboard {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 20px;
}

.redButton.bright {
    background: rgba(255, 0, 0, 1);
}

.redButton {
    background: rgba(190, 0, 0, 1);
    border-radius: 5px;
    border-top-right-radius: 100%;
}

.yellowButton.bright {
    background: rgba(255, 255, 0, 1);
}

.yellowButton {
    background: rgba(190, 190, 0, 1);
    border-radius: 5px;
    border-bottom-left-radius: 100%;
}

.greenButton.bright {
    background: rgba(0, 255, 0, 1);
}

.greenButton {
    background: rgba(0, 190, 0, 1);
    border-radius: 5px;
    border-top-left-radius: 100%;
}

.blueButton.bright {
    background: rgba(0, 0, 255, 1);
}

.blueButton {
    background: rgba(0, 0, 190, 1);
    border-radius: 5px;
    border-bottom-right-radius: 100%;
}

.levels {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    background:  rgba(100, 100, 100, 1);
    padding: 16px 32px;
    border-radius: 12px;
}

footer {
    font-size: 14px;
}
a {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}